/*.content-wrapper {
    min-height: unset !important;
}*/
/*Used For Lead Signed Up blade showing document approved*/
/*remove number scroll JAY 01032018*/

/*Work order product border*/
.disabled-result{
    color: #e7dddd!important;
}

.item_row{
    border-bottom: solid gray 1px;
    margin-bottom: 10px;
}

.row-error {
    padding: 5px;
    border: solid #dd4b39 1px; 
}
.row-error label {
    color: #dd4b39;
}
/**/


/*LOADER STARTS*/
#divLoading
{
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url('/img/spinner.svg');
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
#loadinggif
{
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 101;
    width : 32px;
    height : 32px;
    margin-left : -16px;
    margin-top : -16px;
}
div.content {
   width : 1000px;
   height : 1000px;
}

/*LOADER ENDS*/

.navbar-toggle {
    margin-right: 10px;
}

.color-red{
    color: red;
}

.content-wrapper{
    min-height: 100%!important;
}

.btn-icons{
    background-color: #e5e4e4!important;
    border: 1px solid #a89f9f!important;
}


body{
    font-size: 12px!important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
/*remove number scroll ends*/
.box-shadow {
    box-shadow: 1px 4px 7px #888;
}

.login-page, .register-page {
    background: #FFFFFF;
}

.skin-blue .main-header .logo, .sidebar-toggle {
    background-color: #ffffff;
}
.skin-blue .main-header .logo:hover {
    background-color: #ffffff !important;
}

.sidebar-toggle:hover {
    background-color: transparent !important;
}

.skin-blue .main-header .logo:hover {
  background-color: none !important;
}

.skin-blue .main-header .navbar, .skin-blue .main-header li.user-header {
    background-color: #a3568f !important;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #ffffff;
    background: #1e282c;
    border-left-color: #a3568f;
}

.font_color_black {
    color: #000000;
}

.btn-sharekhan {
    background-color: #a3568f !important;
    border-color: #a3568f !important;
    color: #f4f4f4 !important;
}


.btn-sharekhan:hover {
    background-color: #a3568f !important;
    border-color: #a3568f !important;
    color: #f4f4f4 !important;
}

.bg-sharekhan {
    background-color: #a3568f;
}
.bg-sharekhan_hierarchy {
    background-color: #dddddd;
}
.bg-sharekhan_hierarchy-yellow {
    background-color: #FFCC02;
}
.clr-sk, a.clr-sk:hover {
    color: #a3568f !important;
}

.bg-sharekhan-yellow {
    background-color: #FFCC02;
}



.content-wrapper, .right-side {
    background-color: #ddd;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { 
    background-color: #a3568f;
    border-color: #a3568f;
}

.dataTables_length > label > select {
    display: inline-block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font size: 14px;
    line-height: 1.428571429;
    color:#555;
    vertical-align: middle;
    background-color:#fff;
    background-image:none;
    border: 1px solid #ccc;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.dataTables_filter > label > input {
    display: inline-block;
    width: 74%;
    height: 34px;
    padding: 6px 12px;
    font size: 14px;
    line-height: 1.428571429;
    color:#555;
    vertical-align: middle;
    background-color:#fff;
    background-image:none;
    border: 1px solid #ccc;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.box-sharekhan {
    border-top: 3px solid #a3568f;
}

/*action icon width fix - datatable*/

.width_icon {
    width : 1.5em;
    cursor: pointer;
    cursor: hand;
}

.padding_top_3 {
    padding-top: 3em;
}

.form-control { 
    /*border-radius: 4px !important; */
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important; */
}

.border_radius_top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.border_radius {
    border-radius: 6px;
}


.drop_remove {
    padding-left: 0px !important; 
}

.external-event {
    position: relative;
    color: #FFF;
    padding: 10px;
    /*height: 3em; */
    font-size: 12px;
    font-weight: normal;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    margin: 0 5px 5px 0;
}


.line_search {
    height: 1.3em;
    float: right;
    font-size: 16px;
    display: inline-block;
    font-weight: inherit;
    border: none;
    outline: none;
    color: #555;
    padding: 3px;
    width: 0px;
    top: 0;
    right: 25px;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}

.width_50 {
    width: 50%;
}

.width_65 {
    width: 65%;
}

.line_search:focus:hover {
  border-bottom: 1px solid #BBB;
}

.display_inline_block {
    display: inline-block;
}

.display_inline_flex {
    display: inline-flex;
}

.ms-container {
    width: 100% !important;
}

.custom-footer {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 3px;
    background: #a3568f;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-sharekhan {
    color: #fff;
    background: #a3568f;
}


/*expand_collapse*/

.clickable {
    padding-right: 10px;
}

.padding_right_1 {
    padding-right: 1em;
}

.display_flex {
    display: flex;
}

.margin_top_25 {
    margin-top: 25px;
}

.top_1 {
    top : 1.5em;
}

.panel_heading_background {
    background:#a3568f !important;
}

.padding_right {
    padding-right: 10px;
}

.panel_border_color {
    border-color: #dd4b39;
}

.list-group-item-success {
    color: #fff !important;
    background-color: #a3568f !important;
}

.modal-content {
    border-radius: 4px;
}

.modal-footer button[data-bb-handler='confirm'] {
    background-color: #a3568f !important;
    border-color: #a3568f !important;
    color: #f4f4f4 !important;
}

.dataTables_scroll
{
    overflow:auto;
}

.slimScrollDiv {
    height:unset !important;
}
.dataTables_scroll {
    height:unset !important;
}

.bottom-buffer { 
    margin-bottom:1em; 
}

.top-buffer { 
    margin-bottom:1em; 
}

.buttons-colvis, .buttons-excel, .buttons-pdf {
    background-color: #a3568f;
    color : #ffffff;
}

/*.buttons-colvis:hover, .buttons-excel:hover, .buttons-pdf:hover {
    background-color: #a3568f !important;
    border-color: #a3568f !important;
    color: #f4f4f4 !important;
}*/


/*@import url('//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css') for templates;*/

.no_border {
    border: 1px solid #cccccc !important;
    /*border-top: 0px solid rgba(0, 0, 0, 0.2) !important;*/
    border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;
}

.mail_sign_height {
        height: 5em !important;
}
textarea {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 12em !important;
    border: 0px solid black !important;
}

textarea:focus, .textarea_focus:focus {
    /*outline: none !important;*/
    box-shadow: 0px 0px 7px #3c8dbc !important;
    /*border-color: #61C5FA !important;*/
    border-color: #3c8dbc !important;
}


/*.date-form { margin: 10px; }*/

.line_height_2 {
    line-height: 1.3em !important;
}

li > p {
    cursor: pointer !important;
}

.custom_panel {
    border: 0px solid transparent !important;
    box-shadow: none !important;
}

.input_type_text {
    width: 200px;
}

/*panel border top color (MAIL MANAGEMENT)*/
.mail_sk {
    border-top-color: #a3568f !important;
}


/*Css for mail scheduler add on 2902016 by anmol G*/

.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #a3568f;
    
}
.wizard li.active span.round-tab i{
    color: #a3568f;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #a3568f;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #a3568f;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.radio input[type="radio"] {
     opacity: 1 !important; 
}

.border-left {
    float: right;
    border-left: 1px solid rgb(184, 184, 184);
    height:13em;
}

.border_textarea {
    border: 1px solid rgb(184, 184, 184) !important;
}

.display_inline {
    display:inline-block;
}

.margin_left_unset {
    margin-left: unset !important;
}

.padding_left_15 {
    padding-left: 15px;
}

.box_style {
    border: 1px solid #ddd;
    margin-left: 15px;
    height: 10em;
    padding: 5px;
}

.checkbox{
    margin-top: 5px !important;
}

span.round-tab {
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
    font-size: 15px !important;
}

.wizard .nav-tabs > li a {
    width: 50px !important;
    height: 50px !important;
}

.text_align_center_with_padding {
    text-align: center;
    padding-right: 130px;
}

.pull_right_with_margin {
    float:right;
    margin-right:180px;
}

.bootstrap-switch-container {
    width: 120px !important;
}

.text-center {
    text-align: center;
}
.main-title {
    padding: 230px 0px 0px;
}

.main-title h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #d45544;
    text-shadow: 0px 2px 0px #852215;
}

.width_70 {
    width: 70% !important;
}

.width_33 {
    width: 33% !important;
}

.bg-grey {
    background: #C0C0C0;
}

.line-through {
    text-decoration: line-through;
}

table.dataTable th, table.dataTable th label {
    font-weight: bold;
}

.padding_bottom_0 {
    padding-bottom: 0;
}

.label_setting {
    display: block;
    width: 100%;
    height: 3em;
    text-align: center;
    line-height: 2.5;
    cursor: pointer;
}

.border_textarea {
    border:1px solid #ddd !important;
}

.selected_asset {
    border: 1px solid #ddd !important;
    padding: 1.15em;
    /*border-radius: 3%;*/
}

.asset_item {
    /*border: 1px solid #ddd !important;*/
    padding: 0.3em;
    display: inline-flex;
}

.width_6em {
    width: 6em;
}

.span_font_align_label {
    font-size: unset !important;
    line-height: unset !important;
    font-weight: normal;
}


/*table making using div's*/
.rTable { display: table; }
.rTableRow { display: table-row; }
.rTableHeading { display: table-header-group; }
.rTableBody { display: table-row-group; }
.rTableFoot { display: table-footer-group; }
.rTableCell, .rTableHead { display: table-cell; }

.rTable {
    display: table;
    width: 100%;
}
.rTableRow {
    display: table-row;
}
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
}
.rTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
}
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}
.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}
.rTableBody {
    display: table-row-group;
}

.width20 {
    width: 20%;
}

.disabled
{
    background-color: #DDD;
    color: #999;
}

.log-modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.log-modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.slimScrollDiv {
    width:unset !important;
}

/*search result screen AG - 09-02-2017*/
.icheckHelperSearch {
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
    border: 0px;
    opacity: 0;
}

.trClickBackground {
    background: lightgrey !important;
}

/*search verifydocuments modal on leadsignup screen  Shrushti 20/04/2017*/
.file{
    padding:10px;
    padding-left:16px;
}


/* only use for cms generate in cms entries screen*/
.tablecms {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tdata {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 5px;
    font-weight:normal;
}

.tablebold {
    font-weight:bold;
}

.margin_table {
    margin-left: 15px;
    margin-right: 15px;
}

.image_div img {
    /*padding: 2%;*/
    border: 1px solid #ddd;
    border-radius: 10%;
}

.image_div img:hover {
    cursor: pointer;
    cursor: hand;
}

.padding_left_0px {
    padding-left: 0px !important;
}
.padding_right_0px {
    padding-right: 0px !important;
}

.width_height_100_percent {
    width:100%;
    height:100%;
}

.margin_0px_auto {
    margin : 0px auto !important;
}


  /*Invoice Setting CSS*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ed1010;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.bold {
    font-weight: 600;
}
.no-padding-left {
    padding-left: 0;
}
.grey, .label-grey {
    color: #747c87;
}

/*FOr Datable Top Scroll If not needed just Remove it :Jashal Code*/
.dataTables_scrollHead{
    /*overflow-x: scroll !important;*/
}
 #loading-img {
height: 100%;width: 100%;margin-top: -300px;z-index: 30;}
.overlay {display : block;position : fixed;z-index: 100;
background: url('../img/ajax-loader.gif') center center no-repeat;background-color:#666;opacity : 0.4;background-repeat : no-repeat;
background-position : center;left : 0;bottom : 0;right : 0;top : 0;}


.invoice-table-header,.Heading{
    height: 46px !important;
    font-size: 12px !important;
    color: #465260 !important;
    font-weight: 700 !important;
    background-color: #d7f6f9 !important;
}

.Table{
    display: table !important;
    width:  100% !important;
}
.Title{
    display: table-caption !important;
    text-align: center !important;
    font-weight: bold !important;
    font-size: larger !important;
}
.Heading{
    display: table-row !important;
    font-weight: bold !important;
    text-align: center !important;
}
.Row{
    display: table-row !important;
}
.Cell{
    display: table-cell !important;
    border-style: solid !important;
    border-width: thin !important;
    padding-left: 5px !important;
    padding-top: 10px !important;
    padding-right: 5px !important;
}
.hide{
    display: none !important;
}
/*Invoice ToolTip CSS*/  

input
{
    box-shadow: none!important;
    border: none!important;
    border-bottom: 1px solid black!important;
    border-radius: 0px!important;
}
    
input:disabled{
    box-shadow: none!important;
    border: none!important;
    border-radius: 0px!important;   
}

input:read-only{
    box-shadow: none!important;
    border: none!important;
    border-radius: 0px!important;   
}

input:focus
{
    border-bottom: 1.5px solid #A3568F!important;   
}