#terms {
  margin-top: 60px;
}
#terms > span {
  font-weight: bold;
  display: inline-block;
  min-width: 20px;
  text-transform: uppercase;
}
#terms > div {
  min-height: 50px;
  min-width: 50px;
}

.payment-info {
  font-size: 12px;
  color: #858585;
  margin-top: 30px;
}
.payment-info div {
  min-width: 20px;
}
.payment-info div:first-child {
  font-weight: bold;
}

.ib_invoicebus_fineprint {
  text-align: left !important;
  padding-left: 130px !important;
  width: auto !important;
}

/**
 * If the printed invoice is not looking as expected you may tune up
 * the print styles (you can use !important to override styles)
 */
@media print {
  /* Here goes your print styles */
}
