

.dropdown-submenu {
    position: relative;

}

.dropdown-submenu>.dropdown-menu {
    top: 13px;
    left: 100%;
    margin-top: -13px;
    margin-left: 0px;
    /*-webkit-border-radius: 0 6px 6px 6px;*/
    /*-moz-border-radius: 0 6px 6px;*/
    /*border-radius: 0 6px 6px 6px;*/
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    background-color: #1E282C;
    font-size: 14px;
    line-height: 2;
    width: 100%;
    color: #FFFFFF;
}

.right-caret {
    float: right;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 0.3;
    margin-top: 6px;
    margin-left: 20%;
    vertical-align: top;
    width: 0;
}

/*This will work for firefox*/
@-moz-document url-prefix() {
    .right-caret {
      margin-top: -13px;
    }
}

/*media screen for mac*/
@media screen and (-webkit-min-device-pixel-ratio:0) {

    .right-caret {
      /*margin-top: -23px;*/
    }

}

.dropdown-menu {
    /*width: 217px !important;*/
}
/*.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    
}*/

/*@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .dropdown-submenu>a:after{
                margin-top:5px;
    }
}*/


.dropdown-submenu:hover>a:after {
    border-left-color: #fff;

}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    /*-webkit-border-radius: 6px 0 6px 6px;*/
    /*-moz-border-radius: 6px 0 6px 6px;*/
    /*border-radius: 6px 0 6px 6px;*/
}


.visibilty_check > li > a > .fa-check{
    visibility:hidden;
}

.visibilty_check > li > a.selected > .fa-check{
    visibility:visible;
    color: green;
    float: right;
    margin-top: 2px;
    margin-right: -10px;
}

.tick {
    visibility:visible;
    color: green;
    float: right;
    margin-top: 2px;
    margin-right: -10px;
}