/*.main-header {
	display: none;
}

.main-sidebar {
	display: none;
}

 #editor {overflow:scroll; max-height:300px}*/

body {
	background-color: oldlace !important;
	/*height: 100em;*/
}

#logo
{
	width: 505px;
	margin: 0 auto;
	text-align: center;
}
#pgtitle
{
	margin: 0px 0px 20px;
	font-size: 18pt;
}
#container
{
	display: block;
	width: 850px;
	height: 300px;
	margin: 0 auto;
}
#imgtag
{
	position: relative;
	min-width: 300px;
	min-height: 300px;
	float: none;
	border: 3px solid #FFF;
	cursor: crosshair;
	text-align: center;
}
.tagview
{
	border: 1px solid #F10303;
	width: 100px;
	height: 100px;
	position: absolute;
/*display:none;*/
	opacity: 0;
	color: #FFFFFF;
	text-align: center;
}
.square
{
	display: block;
	height: 79px;
}
.person
{
	height: 20px;
	background: #282828;
	border-top: 1px solid #F10303;
}
#tagit
{
	position: absolute;
	top: 0;
	left: 0;
	/*width: 240px;*/
	height: 0em;
	/*border: 1px solid #D7C7C7;*/
}
#tagit .tagit_box
{
	/*border: 1px solid #F10303;
	width: 100px;
	height: 100px;*/
	border: 3px solid #fff;
    /*width: 85px;
    height: 85px;*/
    width: 1em;
    height: 1em;
    padding: 0.8em;
	/*float: left;*/
	background: transparent;
}
#tagit .name
{
	float: left;
	/*background-color: #FFF;*/
	/*width: 127px;*/
	/*height: 92px;*/
	padding-left: 0.5em;
	font-size: 10pt;
}
#tagit DIV.text
{
	margin-bottom: 5px;
}
#tagit INPUT[type=text]
{
	margin-bottom: 5px;
}
#tagit #tagname
{
	width: 110px;
	height: 2.2em;
	margin-left: -47px;
}
#taglist
{
	width: 300px;
	min-height: 200px;
	height: auto !important;
	height: 200px;
	float: left;
	padding: 10px;
	margin-left: 20px;
	color: #000;
}
#taglist OL
{
	padding: 0 20px;
	float: left;
	cursor: pointer;
}
#taglist OL A
{
}
#taglist OL A:hover
{
	text-decoration: underline;
}
.tagtitle
{
	font-size: 14px;
	text-align: center;
	width: 100%;
	float: left;
}
#result
{
	position: relative;
	width: 110px;
	padding: 2px;
	display: none;
	margin-top: -5px;
	margin-left: 6px;
	border-top: 0px;
	overflow: hidden;
	border: 1px #CCC solid;
	background-color: white;
}
.show
{
	font-size: 15px; 
	height: 20px;
}
.thumbnail img:hover
{
	background:#4c66a4;
	color:#FFF;
	cursor:crosshair;
}

div.tag_box {
	margin-top: 15px;
    margin-left: -2px;
    padding: 5px;
    overflow-y: hidden;
    max-height: 4em;
}

div.tag_box:hover {
	overflow-y: scroll;
}

.tag_box_div {
	/*float: left;
	margin-right: 1px;*/
    margin-top: 5px;
    float: left !important;
    margin-right: 10px !important;
    /* margin-top: 8px; */
    width: 2em !important;
}

.inner-close {
    line-height: 1.2;
    position: fixed;
    right: 0.01em;
    top: 0.2em;
    z-index: 1;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
    background-color: oldlace;
    border-radius: 50%;
    padding: 0 12px 0 13px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}


/*editors custom styles*/
.note-editor.note-frame .note-editing-area .note-editable {
    
    min-height: 100px !important;
}
.confirmWidth_30 {
	width: 30% !important;
}

.btn_space_album_front_back {
	    margin: 0px;
}

